[submodule "ExpectationMaximization"]
	path = ExpectationMaximization
	url = ../ExpectationMaximization.git
[submodule "ImageGraphCutSegmentation"]
	path = ImageGraphCutSegmentation
	url = ../ImageGraphCutSegmentation.git
