[submodule "KMeansClustering"]
	path = KMeansClustering
	url = git@github.com:daviddoria/KMeansClustering.git
[submodule "ExpectationMaximization"]
	path = ExpectationMaximization
	url = git@github.com:daviddoria/ExpectationMaximization.git
